<div class="article-info">        
  <p><i class="icon-time icon-fw" style="padding-right: 2px"></i>&nbsp;&nbsp;{{ article.locale_date }}</p>
  <p><i class="icon-folder-open icon-fw"></i>&nbsp;&nbsp;<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>.</p>
  <p><i class="icon-question icon-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;Нашли опечатку? Отредактируйте <a href="https://github.com/librarian/libc6.org/edit/master/content/{{ article.slug }}.md">статью</a> на Github</a></p>
</div>
